{% extends 'base.html' %}
{% set active_page = "about" %}

{% block content %}
<section class="section">
    <div class="container content has-text-centered">
        <h1 class="title is-1">Who We Are</h1>
    </div>
    <div class="container content">
        <h2 class="title is-2">Mission</h2>
        <p class="is-size-5">Our mission as the Montgomery Blair Computer Team is to spread ideas from higher education computer science, especially those of algorithmic problem solving, to fellow students in an accessible format. We explore complex algorithms and data structures not only to succeed in rigorous programming competitions but also to discover exciting opportunities and develop the universally applicable mindset of striking a balance between efficiency and effectiveness in everything we do.</p>
    </div>
    <!-- Note: tile elements have flex values set by aspect ratio; calc(x,y) given an image size x by y -->
    <div class="container content">
        <h2 class="title is-2">Current Team Captains</h2>
        <div class="container">
            <h3 class="title is-3 has-text-centered">Class of 2023</h3>
            <div class="tile is-ancestor is-align-items-center is-vertical">
                <div class="tile is-parent is-12">
                    <div style="flex: calc(665/801);" class="px-5 tile is-child">
                        <img class="about-image" src="images/joshua.png"/>
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Joshua Hsieh</p>
                    </div>
                    <div style="flex: calc(1781/1997);" class="px-5 tile is-child">
                        <img class="about-image" src="images/autumn.jpg"/>
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Autumn Qiu</p>
                    </div>
                    <div style="flex: calc(1064/1201);" class="px-5 tile is-child">
                        <img class="about-image" src="images/joshuawang.jpg" />
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Joshua Wang</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <h3 class="title is-3 has-text-centered">Class of 2024</h3>
            <div class="tile is-ancestor is-align-items-center is-vertical">
                <div class="tile is-parent is-5">
                    <div style="flex: calc(2762/2983);" class="px-5 tile is-child">
                        <img class="about-image" src="images/river.jpg" />
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">River Qiu</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <h3 class="title is-3 has-text-centered">Class of 2025</h3>
            <div class="tile is-ancestor is-align-items-center is-vertical">
                <div class="tile is-parent is-3">
                    <div style="flex: calc(980/981);" class="px-5 tile is-child">
                        <img class="about-image" src="images/unknown.png" />
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Daniel Wu</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="container content">
        <h2 class="title is-2">Graduated Team Captains</h2>
        <div class="container">
            <h3 class="title is-3 has-text-centered">Class of 2022</h3>
            <div class="tile is-ancestor is-align-items-center is-vertical">
                <div class="tile is-parent is-12">
                    <div style="flex: calc(1792/1829);" class="px-5 tile is-child">
                        <img class="about-image" src="images/claire.jpg" />
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Claire Zhang</p>
                    </div>
                    <div style="flex: calc(812/683);" class="px-5 tile is-child">
                        <img class="about-image" src="images/jeffrey.jpg" />
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Jeffrey Tong</p>
                    </div>
                    <div style="flex: calc(582/458);" class="px-5 tile is-child">
                        <img class="about-image" src="images/steven.png" />
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Steven Su</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <h3 class="title is-3 has-text-centered">Class of 2021</h3>
            <div class="tile is-ancestor is-align-items-center is-vertical">
                <div class="tile is-parent is-12">
                    <div style="flex: calc(498/566);" class="px-5 tile is-child">
                        <img class="about-image" src="images/tim.jpg"/>
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Timothy Qian</p>
                    </div>
                    <div style="flex: calc(282/377);" class="px-5 tile is-child">
                        <img class="about-image" src="images/gabriel.jpg"/>
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Gabriel Wu</p>
                    </div>
                    <div style="flex: calc(719/896);" class="px-5 tile is-child">
                        <img class="about-image" src="images/ayush.jpg"/>
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Ayush Varshney</p>
                    </div>
                </div>
            </div>
            <div class="tile is-ancestor is-align-items-center is-vertical">
                <div class="tile is-parent is-4">
                    <div style="flex: calc(640/529);" class="px-5 tile is-child">
                        <img class="about-image" src="images/evan.jpg"/>
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Evan Wang</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <h3 class="title is-3 has-text-centered">Class of 2020</h3>
            <div class="tile is-ancestor is-align-items-center is-vertical">
                <div class="tile is-parent is-7">
                    <div style="flex: calc(2281/3060);" class="px-5 tile is-child">
                        <img class="about-image" src="images/peter.jpg"/>
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Peter Zhang</p>
                    </div>
                    <div style="flex: calc(500/446);" class="px-5 tile is-child">
                        <img class="about-image" src="images/jason.png"/>
                        <p class="is-size-4 has-text-centered has-text-weight-semibold">Jason Hsu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}