{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container content has-text-centered">
        <h1 class="title is-1">Who We Are</h1>
    </div>
    <div class="container content">
        <h2 class="title is-2">Mission</h2>
        <p class="is-size-5">Our mission as the Montgomery Blair Computer Team is to spread ideas from higher education computer science, especially those of algorithmic problem solving, to fellow students in an accessible format. We explore complex algorithms and data structures not only to succeed in rigorous programming competitions but also to discover exciting opportunities and develop the universally applicable mindset of striking a balance between efficiency and effectiveness in everything we do.</p>
    </div>
    <div class="container content">
        <h2 class="title is-2">Current Team Captains</h2>
        <div class="container">
            <h3 class="title is-3 has-text-centered">Class of 2022</h3>
            <div class="tile is-ancestor is-vertical">
                <div class="tile is-parent is-8">
                    <div style="flex: calc(1792/1829);" class="px-5 tile is-child">
                        <img src="images/claire.jpg"/>
                    </div>
                    <div style="flex: calc(812/683);" class="px-5 tile is-child">
                        <img src="images/jeffrey.jpg"/>
                    </div>
                </div>
                <div class="tile is-parent is-8">
                    <div style="flex: calc(1792/1829);" class="tile is-child px-5">
                        <h4 class="title is-4 has-text-centered">Claire</h4>
                    </div>
                    <div style="flex: calc(812/683);" class="tile is-child px-5">
                        <h4 class="title is-4 has-text-centered">Jeffrey</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}