{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container content has-text-centered">
        <h1 class="title is-1">Calendar</h1>
    </div>
    <div class="container content">
        <p class="is-size-5">Find dates and times of our meetings and upcoming competitions here. If you would like to link this to your own personal Google Calendar, click on the “+” button on the lower-right corner of the calendar below.</p>
    </div>
    <div class="container">
        <div class="iframe-wrapper">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&src=ZmpjbjNxY2s4N3N2cm1pNDY2bGI2aGpxNWdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23EF6C00&showPrint=1&showTabs=1&showCalendars=0&showTz=1&showNav=1" style="border:solid 1px #777" frameborder="0" scrolling="no" class="iframe"></iframe>
        </div>
    </div>
</section>
{% endblock %}