{% extends 'base.html' %}
{% set active_page = "curriculum" %}

{% block content %}
<section class="section">
    <div class="container content has-text-centered">
        <h1 class="title is-1">Curriculum</h1>
    </div>
    <div class="container content">
        <p class="is-size-5">The curriculum contains a record of previous (and planned) meetings with dates, subjects, and links to material (e.g. Google Slides presentations). Find the 2021-2022 curriculum below. A direct link to the curriculum is also available <a href="https://docs.google.com/spreadsheets/d/1xVMhuWFEhTGN7qlBVvIGQAOiuzkQ-8pgSdOcHfroAzE/view" target="_blank">here</a>. We will update the spreadsheet as we have meetings. <b>If you would like to see curricula from previous years, check out the Google Drive folder <a href="https://drive.google.com/drive/folders/1zVBBv7kDYG4ZItyg7p5ONii6Pnzddwov?usp=sharing" target="_blank">here</a></b></p>
    </div>
    <div class="container content">
        <h4 class="title is-4">General resources:</h4>
        <ul class="is-size-5">
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSft0QuK0UbvIkoh7_MX6uLVJay0z8YXdLmgZptd_sAjQ3Ra0A/viewform">MCPS ECA COVID Form</a></li>
            <li><a href="/signupform">Computer Team Sign-Up Form</a> (access code: 82919340)</li>
            <li><a href="/clubcheckin">Daily Sign-In/Sign-Out Form</a> (need to be signed in to MCPS account)</li>
            <li><a href="/feedback">Feedback Form</a></li>
        </ul>
    </div>
    <div class="container mb-5" id="accordion-parent-1">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-size-5">Meeting #1 - Club Intro and Time Complexity</p>
                <a href="#meeting1-card" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                    <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                </a>
            </header>
            <div id="meeting1-card" class="is-collapsible" data-parent="accordion-parent-1" data-allow-multiple="true">
                <div class="card-content content">
                    <p class="is-size-5">Welcome new and returning Computer Team members! Before coming to our first meeting on September 21, make sure you have filled out and submitted the MCPS Extracurricular Activity COVID Form (linked above under General Resources). Note that this form must be completed for every club you plan on attending, so even if you have already filled out this form for another club, you must fill it out again for Computer Team. Additionally, this form must be submitted to Computer Team through our Sign-Up form (<strong>in addition</strong> to the MCPS link). Please have a copy of the MCPS ECA COVID Form available (preferably as a PDF) so that you can upload it on our sign-up sheet during the first meeting. You can also hand it in to Ms. Blasko in-person.</p>
                    <p class="is-size-5">You must also scan a QR code and fill out a Google Form each time you attend a club (most likely for contact tracing purposes). For Computer Team, the QR code is posted on the cabinets near the entrance of Room 328. You can also access the form through the "Daily Sign-In/Sign-Out Form" link under General Resources.</p>
                    <p class="is-size-5"></p>
                    <span class="is-size-5 is-monospace"><b>Meeting Notes:</b></span>
                        <ul class="is-size-5">
                            <li><a href="https://docs.google.com/presentation/d/11ufgbPUfxfH8185IKPdCIg3z7VoA1pMJ5OfBQT0v_K8/edit?usp=sharing">[01] Introduction</a></li>
                            <li><a href="https://jamboard.google.com/d/1pH9GGNeUawwhjnFVPNWEvc0nCQPDBIYgnBRMnnqWO4w/edit?usp=sharing">[01] Time Complexity</a></li>
                        </ul>
                    <span class="is-size-5 is-monospace"><b>Lab Problems:</b></span>
                        <ul class="is-size-5">
                            <li>No problems for Meeting #1</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-size-5">Meeting #2 - Intro to Competitive Programming</p>
                <a href="#meeting2-card" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                    <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                </a>
            </header>
            <div id="meeting2-card" class="is-collapsible" data-parent="accordion-parent-1" data-allow-multiple="true">
                <div class="card-content content">
                    <p class="is-size-5">Hello Computer Team members! Remember that you must submit the MCPS ECA COVID form before coming to the next meeting or we will not be able to let you in. The form must be submitted to MCPS through the <a href="https://docs.google.com/forms/d/e/1FAIpQLSft0QuK0UbvIkoh7_MX6uLVJay0z8YXdLmgZptd_sAjQ3Ra0A/viewform">Google Form</a> linked under General Resources. The form also needs to be submitted through Computer Team. You may do so by handing it in to our club sponsor, Ms. Blasko, in-person or by submitting it online through our Sign-Up form. The <a href="/signupform">Sign-Up form</a> should still be completed even if you hand in the form to Ms. Blasko in-person so that we have a record of you doing so and to keep our mailing list up to date.</p>
                    <p class="is-size-5">Remember that you must also scan a QR code and fill out a Google Form each time you attend a club. For Computer Team, the QR code is posted on the cabinets near the entrance of Room 328. You can also access the form through the <a href="/clubcheckin">Daily Sign-In/Sign-Out Form</a> link under General Resources.</p>
                    <p class="is-size-5">Material from the previous meeting is available under the Meeting #1 section above. Feel free to take a look if you missed the meeting or would like to review the content. If you have any questions about the material, we would be happy to answer them through our <a href="mailto:mbhscompteam@gmail.com">email</a> or Discord!</p>
                    <p class="is-size-5"><strong>Bring your own laptop if you can/want for lab time!</strong></p>
                    <p class="is-size-5"></p>
                    <span class="is-size-5 is-monospace"><b>Meeting Notes:</b></span>
                        <ul class="is-size-5">
                            <li><a href="https://docs.google.com/presentation/d/1RKvGyoUqcB6-fDVpdv5EQPcaSJAxIu7xbH8xeKU0ctE/edit#slide=id.gf4ab1c061c_2_5">[02] Intro to CP</a></li>
                        </ul>
                    <span class="is-size-5 is-monospace"><b>Lab Problems:</b></span>
                        <ul class="is-size-5">
                            <li><a href="http://www.usaco.org/index.php?page=viewproblem2&cpid=572">Problem 1</a></li>
                            <li><a href="http://www.usaco.org/index.php?page=viewproblem2&cpid=691">Problem 2</a></li>
                            <li><a href="https://atcoder.jp/contests/abc125/tasks/abc125_c">Problem 3</a></li>
                            <li><a href="https://cses.fi/problemset/task/1144">Problem 4</a></li>
                            <li><a href="https://cses.fi/problemset/task/1734">Problem 5</a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-size-5">Meeting #3 - Greedy Algorithms</p>
                <a href="#meeting3-card" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                    <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                </a>
            </header>
            <div id="meeting3-card" class="is-collapsible" data-parent="accordion-parent-1" data-allow-multiple="true">
                <div class="card-content content">
                    <p class="is-size-5">Hey Computer Team members! Just a reminder that you must submit the MCPS ECA COVID form through the <a href="https://docs.google.com/forms/d/e/1FAIpQLSft0QuK0UbvIkoh7_MX6uLVJay0z8YXdLmgZptd_sAjQ3Ra0A/viewform">Google Form</a> linked under General Resources and to Computer Team. To submit your form to Computer Team, you may hand it in to our club sponsor, Ms. Blasko, in-person or submit it online through our Sign-Up form. The <a href="/signupform">Sign-Up form</a> should still be completed even if you hand-in the form to Ms. Blasko in-person so that we have a record of you doing so and to keep our mailing list up to date.</p>
                    <p class="is-size-5">Remember that you must also scan a QR code and fill out a Google Form each time you attend a club. For Computer Team, the QR code is posted on the cabinets near the entrance of Room 328. You can also access the form through the <a href="/clubcheckin">Daily Sign-In/Sign-Out Form</a> link under General Resources.</p>
                    <p class="is-size-5">As always, material from previous meetings is available under the Meeting #1/2 sections above. Feel free to take a look if you missed the meeting or would like to review the content. You might have to expand the sections to view the content for that meeting. If you have any questions about the material, we would be happy to answer them through our <a href="mailto:mbhscompteam@gmail.com">email</a> or Discord!</p>
                    <p class="is-size-5"><strong>Bring your own laptop if you can/want for lab time!</strong></p>
                    <p class="is-size-5"></p>
                    <span class="is-size-5 is-monospace"><b>Meeting Notes:</b></span>
                        <ul class="is-size-5">
                            <li><a href="https://docs.google.com/presentation/d/1FjOXGTc-GT-tD9HrL6AklIb8lW_TNWU61ijZeJYX-WE/edit?usp=sharing">[03] Greedy</a></li>
                        </ul>
                    <span class="is-size-5 is-monospace"><b>Lab Problems:</b></span>
                        <ul class="is-size-5">
                            <li><a href="https://cses.fi/problemset/task/1629">Problem 1</a> (on cses.fi)</li>
                            <li><a href="https://cses.fi/problemset/task/1073">Problem 2</a> (on cses.fi)</li>
                            <li><a href="https://codeforces.com/problemset/problem/1102/D">Problem 3</a> (on Codeforces)</li>
                            <li><a href="https://atcoder.jp/contests/arc113/tasks/arc113_c">Problem 4</a> (on atcoder.jp)</li>
                            <li><a href="https://codeforces.com/contest/1260/problem/E">Problem 5</a> (on Codeforces)</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-size-5">Meeting #4 - Graph Theory 1</p>
                <a href="#meeting4-card" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                    <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                </a>
            </header>
            <div id="meeting4-card" class="is-collapsible is-active" data-parent="accordion-parent-1" data-allow-multiple="true">
                <div class="card-content content">
                    <p class="is-size-5">Hello Computer Team members! Same old reminders: You must submit the MCPS ECA COVID form through the <a href="https://docs.google.com/forms/d/e/1FAIpQLSft0QuK0UbvIkoh7_MX6uLVJay0z8YXdLmgZptd_sAjQ3Ra0A/viewform">Google Form</a> linked under General Resources and to Computer Team. To submit your form to Computer Team, you may hand it in to our club sponsor, Ms. Blasko, in-person or submit it online through our Sign-Up form. The <a href="/signupform">Sign-Up form</a> should still be completed even if you hand-in the form to Ms. Blasko in-person so that we have a record of you doing so and to keep our mailing list up to date.</p>
                    <p class="is-size-5">Remember that you must also scan a QR code and fill out a Google Form each time you attend a club. For Computer Team, the QR code is posted on the cabinets near the entrance of Room 328. You can also access the form through the <a href="/clubcheckin">Daily Sign-In/Sign-Out Form</a> link under General Resources.</p>
                    <p class="is-size-5"></p>
                    <span class="is-size-5 is-monospace"><b>Meeting Notes:</b></span>
                        <ul class="is-size-5">
                            <li><a href="https://docs.google.com/presentation/d/1fCXSuUiIFi_qLDS6Bipz_6iY2gOERn_JumtT913ATXg/edit?usp=sharing">[04] Graph Theory 1</a></li>
                        </ul>
                    <span class="is-size-5 is-monospace"><b>Lab Problems:</b></span>
                        <ul class="is-size-5">
                            <li><a href="https://cses.fi/problemset/task/1682">CSES: Flight Routes Check</a></li>
                            <li><a href="https://codeforces.com/problemset/problem/377/A">CF: Maze</a> | <a href="https://drive.google.com/file/d/1szuj-N3S7V2JB4_s-xVcrmQIT4_fuRoC/view?usp=sharing">PDF</a></li>
                            <li><a href="https://codeforces.com/contest/1343/problem/E">CF: Weights Distributing</a> | <a href="https://drive.google.com/file/d/12LcSWFgQ8XTt25DrCsf3GnyBKHj3-Q6Y/view?usp=sharing">PDF</a></li>
                            <li><a href="http://usaco.org/index.php?page=viewproblem2&cpid=1062">USACO: Cowntagion</a></li>
                            <li><a href="https://codeforces.com/problemset/problem/1411/C">CF: Peaceful Rooks</a> | <a href="https://drive.google.com/file/d/1WuClqeRxGb5x0k_1-mbQZUTJ6iY0_m9Z/view?usp=sharing">PDF</a></li>
                            <li><a href="https://codeforces.com/gym/102802/problem/D">mBIT: Milky Way</a> | <a href="https://mbit.mbhs.edu/archive/2019/varsity.pdf">Problem Statement</a> | <a href="https://mbit.mbhs.edu/archive/2019/varsity_editorial.pdf">Editorial</a></li>
                            <li><a href="https://onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&page=show_problem&problem=4120">uVA: Power Calculus</a> | <a href="https://ideone.com/v4tz56">Sample Solution and Explanation</a></li>
                        </ul>
                    <span class="is-size-5"><a href="/feedback">Feedback form!</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="iframe-wrapper">
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQE7BgRi5h9iEeQzcmV8b_6jTf2--gygjidxAEWOGOPOjMqCa1yaRgQvq0WFgd-YrZ8dnJL5CEfyCKn/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" class="iframe" style="border: 2px black solid;"></iframe>
        </div>
    </div>
</section>
{% endblock %}