{% extends 'base.html' %}
{% set active_page = "curriculum" %}

{% block content %}
<section class="section">
    <div class="container content has-text-centered">
        <h1 class="title is-1">Curriculum</h1>
    </div>
    <div class="container content">
        <p class="is-size-5">The curriculum contains a record of previous (and planned) meetings with dates, subjects, and links to material (e.g. Google Slides presentations). Find the 2021-2022 curriculum below. A direct link to the curriculum is also available <a href="https://docs.google.com/spreadsheets/d/1xVMhuWFEhTGN7qlBVvIGQAOiuzkQ-8pgSdOcHfroAzE/view" target="_blank">here</a>. We will update the spreadsheet as we have meetings. <b>If you would like to see curricula from previous years, check out the Google Drive folder <a href="https://drive.google.com/drive/folders/1zVBBv7kDYG4ZItyg7p5ONii6Pnzddwov?usp=sharing" target="_blank">here</a></b></p>
    </div>
    <div class="container content">
        <h4 class="title is-4">General resources:</h4>
        <ul class="is-size-6">
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSft0QuK0UbvIkoh7_MX6uLVJay0z8YXdLmgZptd_sAjQ3Ra0A/viewform">MCPS ECA COVID Form</a></li>
            <li><a href="/signupform">Computer Team Sign-Up Form</a> (access code provided during the first meeting)</li>
        </ul>
    </div>
    <div class="container mb-5" id="accordion-parent-1">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-size-5">Meeting #1</p>
                <a href="#meeting1-card" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                    <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                </a>
            </header>
            <div id="meeting1-card" class="is-collapsible is-active" data-parent="accordion-parent-1">
                <div class="card-content content">
                    <p class="is-size-5">Welcome new and returning Computer Team members! Before coming to our first meeting on September 21, make sure you have filled out and submitted the MCPS Extracurricular Activity COVID Form (linked above under General Resources). Note that this form must be completed for every club you plan on attending, so even if you have already filled out this form for another club, you must fill it out again for Computer Team. Additionally, this form must be submitted to Computer Team through our Sign-Up form (<strong>in addition</strong> to the MCPS link). Please have a copy of the MCPS ECA COVID Form available (preferably as a PDF) so that you can upload it on our sign-up sheet during the first meeting.</p>
                    <p class="is-size-5"></p>
                    <span class="is-size-6"><b>Meeting Notes:</b></span>
                        <ul>
                            <li>Coming soon!</li>
                        </ul>
                    <span class="is-size-6"><b>Lab Problems:</b></span>
                        <ul>
                            <li>No problems for Meeting #1</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="iframe-wrapper">
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQE7BgRi5h9iEeQzcmV8b_6jTf2--gygjidxAEWOGOPOjMqCa1yaRgQvq0WFgd-YrZ8dnJL5CEfyCKn/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" class="iframe" style="border: 2px black solid;"></iframe>
        </div>
    </div>
</section>
{% endblock %}