{% extends 'base.html' %}
{% set active_page = "home" %}

{% block content %}
<div class="hero has-background is-large">
    <img alt="Front of MBHS" class="hero-background is-transparent" src="images/home_banner.png" />
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title has-text-white is-1">MBHS Computer Team</h1>
		</div>
	</div>
</div>
<section class="section pb-0">
    <div class="container">
        <div class="notification is-info">
            <button class="delete"></button>
            <div class="content">
                <p class="is-size-5">Make sure you have filled out and submitted the MCPS ECA COVID form before coming to our first meeting on Sepetember 21, 2021. Note that you will also need to submit a copy of the COVID Form through our sign-up form (<i>in addition</i> to doing so on the MCPS form), so have a copy (preferably PDF) available to upload. Head to our <a href="/curriculum">Curriculum</a> page for more information.</p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container content">
        <div class="columns">
            <div class="column is-half">
                <h1 class="title is-2">MBHS Computer Team</h1>
                <p class="is-size-5">The MBHS Computer Team (“Comp Team”) is a club which focuses on using algorithms and data structures to solve programming problems. Members of Comp Team get to test their problem solving abilities in programming competitions throughout the year. Previous programming experience isn’t necessary for understanding our lectures, but you will need to know how to program if you want to solve problems yourself. <strong>During the 2021-2022 school year, we will be meeting Tuesdays after school at 3:30 pm in Room 328. Our first meeting will be on September 21, 2021.</strong> Please contact us if you would like to join our Discord server.</p>
                <p class="is-size-5">While Comp Team’s focus is preparing for programming competitions, we also plan on discussing quantum computing, machine learning, cryptography, and much more!</p>
            </div>
            <div class="column is-half">
                <img src="images/dfs.jpg" />
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container content">
        <div class="columns">
            <div class="column is-half">
                <img src="images/usaco.jpg" />
            </div>
            <div class="column is-half">
                <h1 class="title is-2">Competitive Programming</h1>
                <p class="is-size-5">Competitive programming is a mixture of mathematical problem-solving with the power of computers. Competitive programming problems cover topics such as searching and sorting, dynamic programming, graph theory, segment trees, geometric algorithms, and hashing, with an emphasis placed on writing <i>efficient</i> programs. There are various programming contests throughout the year, including <a href="http://usaco.org/" target="_blank">USACO</a> and <a href="https://codeforces.com/" target="_blank">Codeforces</a> rounds, where competitors solve a set of problems in an online timed environment. There are also in-person events such as <a href="https://pclassic.org/" target="_blank">PClassic</a> and <a href="http://www.cs.umd.edu/Outreach/hsContest.shtml" target="_blank">UMD HSPC</a>, but many of these may be cancelled this year.</p>
                <p class="is-size-5">C++, Java, and Python are the most popular programming languages for competitive programming. To practice, programmers learn theoretical concepts and apply them by solving many problems. In addition to individual training, learning to work in a team is vital since most competitions are team-based. See the Practice page for some good competitive programming resources.</p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container content">
        <div class="columns">
            <div class="column is-half">
                <h1 class="title is-2">Montgomery Blair Informatics Tournament</h1>
                <p class="is-size-5">The Montgomery Blair Informatics Tournament (mBIT) is an annual programming competition for middle and high school students of all skill levels, organized by the MBHS Computer team. In spring of 2021, more than 500 participants from across the world participated in mBIT. The contest typically lasts three to four hours and allows teams of up to 4 students. There are two divisions: Standard (for teams new to competitive programming) and Advanced (for teams with lots of competitive programming experience). Stay tuned for the 2021-2022 mBIT competition date! See <a href="https://mbit.mbhs.edu/" target="_blank">mbit.mbhs.edu</a> for more information and past problems.</p>
                <p class="is-size-5">Blair freshmen and sophomores are encouraged to compete in mBIT, while Blair juniors and seniors organize the event and write problems. Feel free to email <a href="mailto:mbit.organizers@gmail.com">mbit.organizers@gmail.com</a> or <a href="mailto:mbhscompteam@gmail.com">mbhscompteam@gmail.com</a> with questions.</p>
            </div>
            <div class="column is-half">
                <img src="images/19_Fun_Round.jpg" />
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container content">
        <div class="columns">
            <div class="column is-half">
                <img src="images/Annotation+2020-08-26+181541.jpg" />
            </div>
            <div class="column is-half">
                <h1 class="title is-2">A History of Victory</h1>
                <p class="is-size-5">Blair's programming team has found great success in regional and national programming competitions. With first place victories at the UPenn PClassic and UMD programming competitions and a third place finish in MIT Battlecode, Blair Comp Team has risen to become a national programming powerhouse in recent years. The Blair team currently has one USACO Camper, four Platinum division competitors, three programmers rated Master or higher in Codeforces, and four Google Code Jam semifinalists.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}