{% extends 'base.html' %}
{% set active_page = "practice" %}

{% block content %}
<section class="section">
    <div class="container content has-text-centered">
        <h1 class="title is-1">Helpful Practice</h1>
    </div>
    <div class="section">
        <div class="container content">
            <div class="columns">
                <div class="column is-four-fifths">
                    <h2 class="title is-2"><a href="http://usaco.org/" target="_blank">usaco.org</a></h2>
                    <p class="is-size-5">The USA Computing Olympiad is the most well-known programming competition for high school students in America, and it is used to select a team for for the International Olympiad in Informatics. There are four divisions (Bronze, Silver, Gold, and Platinum) which have problems of varying difficulties. Take a look at some previous problems! The first contest is in December.</p>
                </div>
                <div class="column is-one-fifth has-text-centered">
                    <img src="images/usaco.png"/>
                </div>
            </div>
            
        </div>
    </div>
    <div class="section">
        <div class="container content">
            <div class="columns">
                <div class="column is-four-fifths">
                    <h2 class="title is-2"><a href="https://codeforces.com/" target="_blank">codeforces.com</a></h2>
                    <p class="is-size-5">Codeforces is one of the biggest online competitive programming platforms for coders from all over the world. Contests are held once or twice a week, and doing well can improve your personal rating! Problems vary in difficulty from easy Bronze to hard Platinum level, and contests typically have two separate divisions for low and high rated competitors.</p>
                </div>
                <div class="column is-one-fifth has-text-centered">
                    <img src="images/image-asset.png"/>
                </div>
            </div>
            
        </div>
    </div>
    <div class="section">
        <div class="container content">
            <div class="columns">
                <div class="column is-four-fifths">
                    <h2 class="title is-2"><a href="https://atcoder.jp/" target="_blank">atcoder.jp</a></h2>
                    <p class="is-size-5">AtCoder is a coding contest based in Japan. They are well known for simple problem statements, but difficult solutions. Contests are held on the weekends, and doing well can improve your rating.  There are three types of contests, Beginner, Regular, and Grand, in ascending difficulty. Beginner starts at a level that any one can try with some coding knowledge, and Grand ends with problems that the fiercest competitors seldom solve.</p>
                </div>
                <div class="column is-one-fifth has-text-centered">
                    <img src="images/atcoder.png"/>
                </div>
            </div>
            
        </div>
    </div>
    <div class="section">
        <div class="container content">
            <div class="columns">
                <div class="column is-four-fifths">
                    <h2 class="title is-2"><a href="https://youtube.com/colingalen" target="_blank">youtube.com/colingalen</a></h2>
                    <p class="is-size-5">Colin Galen, a former Blair student, runs a programming YouTube channel with over 17.4K subscribers. He does screen recordings and streams of contests on various competitive programming sites.</p>
                </div>
                <div class="column is-one-fifth has-text-centered">
                    <img src="images/colin.jpg"/>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}