{% extends 'base.html' %}
{% set active_page = "resources" %}

{% block content %}
<section class="section">
    <div class="container content has-text-centered">
        <h1 class="title is-1">Helpful Resources</h1>
    </div>
    <div class="container content">
        <p class="is-size-5">Here is a <a href="https://drive.google.com/drive/folders/1WqCUqEEliaNJHvbsRGbh9r2cFafT660v?usp=sharing">link</a> to a Google Drive folder containing some useful resources. This includes various PDFs of competitive programming books/guides, a list of contests, and various links for practice, tutorials, and calendars. Embedded views of the <a href="https://docs.google.com/spreadsheets/d/1d6rZz7jzdvV_mIryMTz_erfJsFIPI6z1hyYVw4G4Trc/edit?usp=sharing">Contest List</a> and <a href="https://docs.google.com/document/d/1gM6D_cTz7-xlDsav0IotNokn_e3KAXl9vs5Ao7h_VzQ/edit?usp=sharing">Useful Links</a> files are included here for your convenience.</p>
    </div>
    <div class="container mb-5" id="accordion-parent-1">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-size-5">2021-2022 Contest List</p>
                <a href="#contest-list" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                    <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                </a>
            </header>
            <div id="contest-list" class="is-collapsible" data-parent="accordion-parent-1">
                <div class="card-content content">
                    <div class="iframe-wrapper">
                        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS5EhsY7KhqpajLJ19WQfRlcM-OfCq-FuTwwqZj7W4NV5wZRkwcVki8xhB00G4U7qUmGGXPiZyMuLY2/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" style="border:solid 1px #777" class="iframe"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title is-size-5">Useful Links</p>
                <a href="#useful-links" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                    <span class="icon"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                </a>
            </header>
            <div id="useful-links" class="is-collapsible" data-parent="accordion-parent-1">
                <div class="card-content content">
                    <div class="iframe-wrapper">
                        <iframe src="https://docs.google.com/document/d/e/2PACX-1vQx-bzQI13hUc9B3oMBnD0GSa-FIXa-Tga47tZonP5vvL0eVYvRO4OT0fnoiAAWLFQU29qsgxuuTJR1/pub?embedded=true" style="border:solid 1px #777" class="iframe"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="iframe-wrapper">
            <iframe src="https://drive.google.com/embeddedfolderview?id=1WqCUqEEliaNJHvbsRGbh9r2cFafT660v#list" style="border:solid 1px #777" class="iframe"></iframe>
        </div>
    </div>
</section>
{% endblock %}