{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container content has-text-centered">
        <h1 class="title is-1">Syllabus</h1>
    </div>
    <div class="container content">
        <p class="is-size-5">The syllabus contains a record of previous meetings with dates, subjects, and links to material (e.g. Google Slides presentations). Find the 2021-2022 syllabus below. A direct link to the syllabus is also available <a href="https://docs.google.com/spreadsheets/d/1xVMhuWFEhTGN7qlBVvIGQAOiuzkQ-8pgSdOcHfroAzE/view" target="_blank">here</a>. We will update the spreadsheet as we have meetings. If you would like to see syllabi from previous years, look for the <b>Archive</b> at the bottom of the page.</p>
    </div>
    <div class="container content">
        <div class="iframe-wrapper">
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQE7BgRi5h9iEeQzcmV8b_6jTf2--gygjidxAEWOGOPOjMqCa1yaRgQvq0WFgd-YrZ8dnJL5CEfyCKn/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" class="iframe" style="border: 2px black solid;"></iframe>
        </div>
    </div>
    <div class="container content">
        <h2 class="title is-2">Archive</h2>
        <ul>
            <li><a href="https://docs.google.com/spreadsheets/d/1Xy4wzs5unlaZ0ADzUttVIFYBPc91QOdohS_MFdMiPwg/" target="_blank">2020-2021 Syllabus</a></li>
        </ul>
    </div>
</section>
{% endblock %}